{% extends "base.html" %}

{% load static %}
{% block style %}
        <link rel="stylesheet" href="{% static 'home_page_style.css' %}">
{% endblock %}

{% block title %}
    <title>HOME</title>
{% endblock %}

{% block content %}
    <h1>WELCOME TO OUR ONLINE SHOP! &#128525</h1>
    <footer class="bg-dark text-center text-white">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
    </footer>
{% endblock %}