{% extends "base.html" %}

{% block title %}
    <title>STORES</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <table class="table table-striped">
            <thead class="bg-warning">
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                {% for store in store_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th >{{store.name}}</th>
                    <th >{{store.phone}}</th>
                    <th >{{store.location}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}